{
  "jwt_secret": "change-me-to-a-random-string-at-least-32-characters-long",
  "soulseek_username": "your_soulseek_username",
  "soulseek_password": "your_soulseek_password",
  "lastfm_api_key": "",
  "fanarttv_api_key": ""
}
